---

---

<div class="project-column">
  <slot />
</div>

<style>
  .project-column {
    -ms-flex-preferred-size: 33%;
    flex-basis: 33%;
    display: -ms-flexbox;
    -ms-flex-direction: column;
    -ms-flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 0;
  }
</style>
